html,body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  width: 100%;
}


.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container h1 {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}


header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header h1 {
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header #branding {
  float: left;
}

header #branding h1 {
  float: right;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* showcase */
#showcase {
  min-height: 500px;
  background: url('mig.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  height: 50px;
}

#Newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 0;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
  margin-top: 15px;
}

/* boxes */
#boxes {
 margin: 60px 0;
 background-color: #f4f4f4;
 width: 100%;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 25%;
  margin: 40px;
  margin-bottom: 50px;
}

#boxes .box  p {
  width: 100%;
  margin-bottom: 50px;
}

#boxes h3 {
  font-size: 40px;
  margin-top: 20px;
}

#boxes .box img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

#boxes .container {
  margin: 0 30px;
  width: 100%;
}


/* sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* main-col */
article#main-col {
  float: left;
  width: 65%;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
