html,body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1024px;
}

.wrapper {
  overflow: hidden;
}

.container {
  margin: 0;
  overflow: hidden;
}

.container h1 {
  display: inline-block;
  margin-left: 80px;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 7px;
  margin-bottom: 10px;
}

.dark h3,p {
  padding: 2px 5px;
  margin: 0;
}

header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header h1 {
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header #branding {
  float: left;
}

header #branding h1 {
  float: right;
}

header nav {
  float: right;
  margin-top: 10px;
  margin-right: 80px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* showcase */
#showcase {
  min-height: 500px;
  background: url('mig.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#showcase .container {
  margin-left: 120px;
  margin-right: 120px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  height: 50px;
  padding-bottom: 50px
  ma
}

#Newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 0;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
  margin-top: 15px;
}


/* boxes */
#boxes {
 margin: 60px 0px;
 background-color: #f4f4f4;
 width: 100%;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 25%;
  margin: 40px;
  margin-bottom: 50px;
}

#boxes .box  p {
  width: 100%;
  top: 44%;
  margin-bottom: 50px;

}

#boxes h3 {
  font-size: 40px;
  margin-top: 20px;
}

#boxes .box img {
  border-radius: 50%;

  text-align: center;
}

#boxes .container {
  margin: 0;
  width: 100%;
  padding-left: 50px:
}


/* sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: left;
  padding: 5px;
}



/* main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* タブレット向け */
@media(max-width: 1040px) {

#boxes .box {
  margin: 12%;
  width: 50%;

}

#boxes .box p,h3,a {
  text-align: center;
}

#Newsletter h1,form,input[type="email"] {

}
}

/* スマホ向け　*/
@media (max-width:1040px) {

}
